/images/
/mp_data/=
/mp_data_generated/
/__pycache__/
lstm_binary_model.h5
/keypoints_data/
lstm_model.ipynb

/mp_data_static/
/mp_data_static_hands_only/
/mp_data_dynamic/
/mp_data_dynamic_hands_only/
/mp_data_test_dynamic/
/mp_data_test_dynamic_hands_only/
/mp_data_test_static/
/mp_data_test_static_hands_only/
/fft_features/
/fft_plots/
/labels/
metadata.npy
/avg_movement_plots
/dynamic_train
/dynamic_train_hands

/dynamic_train_hands_unscaled
/prev_iter
/static_train
/static_train_hands
/static_train_hands_unscaled
avg_movement_features.npy

./avg_movement_labels.npy

./avg_movement_per_folder.npy


./readnpy.ipynb


readnpy.ipynb
rename_script.py
training_utils/
weighted_movement_labels.npy
weighted_movement_features.npy