/images/
/mp_data/=
/mp_data_generated/
/__pycache__/
lstm_binary_model.h5
/keypoints_data/
lstm_model.ipynb
/fft_features/
/fft_plots/
/labels/
metadata.npy
/avg_movement_plots
/dynamic_train
/dynamic_train_hands
/dynamic_train_hands_unscaled
/prev_iter
/static_train
/static_train_hands
/static_train_hands_unscaled
avg_movement_features.npy
./avg_movement_labels.npy
./avg_movement_per_folder.npy
readnpy.ipynb
rename_script.py
training_utils/
weighted_movement_labels.npy
weighted_movement_features.npy
model_backup.py
./logistic_regression_movement.joblib
weighted_movement_features_backup.npy
weighted_movement_labels_backup.npy
/dynamic_test
/dynamic_test_hands
/static_test
/static_test_hands
visualize_roc.py
normalization_visualization.ipynb
mediapip.png
generate_mediapipe_keypoints.py
