/images/
/mp_data/=
/mp_data_generated/
/__pycache__/
lstm_binary_model.h5
/keypoints_data/
lstm_model.ipynb

/mp_data_static/
/mp_data_static_hands_only/
/mp_data_dynamic/
/mp_data_dynamic_hands_only/
/mp_data_test_dynamic/
/mp_data_test_dynamic_hands_only/
/mp_data_test_static/
/mp_data_test_static_hands_only/
/fft_features/
/fft_plots/
/labels/
metadata.npy